.Form {
    background: linear-gradient(rgba(250, 0, 0, 0.5), transparent);
    background-color: blue;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
}

.title {
    color: rgb(216, 150, 236);
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 100;
}

.five {
    background-color: rgb(187, 133, 238);
    border-radius: 8px;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    padding: 10px 40px;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.ten {
    background-color: rgb(187, 133, 238);
    border-radius: 8px;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    padding: 10px 35px;
    border: none;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}