.Form {
    background: linear-gradient(rgba(250, 0, 0, 0.5), transparent);
    background-color: blue;
    position: relative;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    display: grid 
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
}

.title {
    color: rgb(216, 150, 236);
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 100;
}