.MeditationForm {
    background: linear-gradient(rgba(250, 0, 0, 0.5), transparent);
    background-color: blue;
    position: relative;
    border-radius: 10px;
    display: inline;
}

.five,
.ten {
    color: rgb(233, 205, 241);
    width: 50%;
    height: 20%;
    background: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.5s ease;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
}