.meditationButton,
.quoteButton {
  font-family:  "CoolVetica", Helvetica Neue-serif;
  color: white;
  width: 30%;
  height: 20%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
  padding:  4px;
  width:20%;
}

.quote {
  color: white;
  font-family: "CoolVetica", Helvetica Neue-serif;
  font-size: 20px;
  font-weight: 100;
  display: block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background: violet;
}
