.homePage{
  position: absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  display: inline;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.buttons-container{
  display:flex;
  justify-content:center;
  align-items: center;
  position: relative;
}

.quoteButton {
   background: #ca9fc7;
    border: 1px solid #001858;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 250px;
    height: 70px;

}

.quote-container{

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.quote {
  border-radius: 10px;
  border: 3px solid #001858;
  color: #001858;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  position: relative;
  font-weight: bold;
  width: 80%;
  justify-content: center;
  text-align: center;
}
