.two,
.five,
.ten {
    color: white;
    width: 15%;
    height: 20%;
    background: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}


.instruction, .timeDisplay, .Message {
    color: white;
    font-family: 'CoolVetica',
        Helvetica Neue-serif;
    font-size: 50px;
    font-weight: 500;
}