.container{
    position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-items: center;
}

.header-container{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    color: #001858;
    text-align: center;
    position: relative;
    left: 350px;
    top:100px;
    width:50%;
}
.buttons{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
}

.two, .five, .ten{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius:20px;
}

.Title {
    font-size: 38px;
}

.Message {
    font-size: 20px;
}


.toggler{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 300px;

}
.homeButton, .Background-Button{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #001858;
    border-radius:20px;
}
