.Nav {
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.ul {
    list-style: none;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.unwindUnplug,.gitButton, .emailButton, .twitterButton, .linkedinButton, .meditate, .contact, .fortuneCookie {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    transition-duration: 0.4s;
    text-decoration: none;
    background: none;
    color: #001858;
    border: none;
}
