.Nav {
    background-color: transparent;
}

.ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: large;
    font-family:  "CoolVetica", Helvetica Neue-serif;
}

.gitButton, .emailButton, .twitterButton, .linkedinButton {
    float: left;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s ease;
    transition-duration: 0.4s;
    display: block;
    padding: 12px 10px;
    text-decoration: none;
    border-radius: 15px;
    background: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: white;
    border:   white;
        font-family:  "CoolVetica", Helvetica Neue-serif;
}
.backgroundButton{
    float: right;
        font-size: 15px;
    cursor: pointer;
    transition: all 0.5s ease;
    transition-duration: 0.4s;
    display: block;
    padding: 12px 10px;
    text-decoration: none;
    border-radius: 15px;
    background: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: white;
    border:   white;
    font-family:  "CoolVetica", Helvetica Neue-serif;
}
/* .twitter {
    float: left;
    color: white;
    background: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    display: block;
    padding: 16px;
    text-decoration: none;
}

.email {
    float: left;
    color: white;
    background: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    display: block;
    padding: 16px;
    text-decoration: none;
} */