.Nav {
    background-color: transparent;
}

.ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.git {
    float: left;
    color: white;
    display: block;
    padding: 16px;
    text-decoration: none;
}

.twitter {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.email {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}