.Nav {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    float: left;
}

.ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    padding: 20px;
}

.gitButton, .emailButton, .twitterButton, .linkedinButton {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    transition-duration: 0.4s;
    text-decoration: none;
    background: none;
    color: rgb(235, 122, 206);
    border: none;
}
