.App {
    height: 800px;
    text-align: center;
    font-family: 'CoolVetica',
        Helvetica Neue-serif;
    display: flexbox;
    align-items: center;
     background: linear-gradient( to right, rgb(203, 153, 207), rgb(142, 147, 216)) ;
    opacity: 0.9;
}