<<<<<<< HEAD
.App {
    place-content: center;
    align-content: center;
    background: linear-gradient(rgba(250, 0, 0, 0.5), transparent);
    
}
=======
>>>>>>> 2f250a11e177bbf9e008256f323e5d3c8c590d3e
