.App {
    height: 800px;
    width: 1400px;
    text-align: center;
    background: rgb(109, 109, 241);
    font-family: 'CoolVetica',
        Helvetica Neue-serif;
    display: inline-block;
    align-items: center;
    background-image: url("./resources/background.png");
    opacity: 0.9;
}